.tile {
    width: 80px;
    height: 150px;
    padding: 1px !important;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
  }
  .tile-wrapper {
    cursor: pointer;
    padding: 5px;

  }  
